@font-face {
    font-family: P-bold;
    src: url(/Fonts/P-bold.ttf);
}
@font-face{
    font-family: P-regular;
    src: url(/Fonts/P-regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: P-regular;
}
.nav-bar{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #19354e;
    color: white;

    .logo{
        padding: 0.6em .9em;

        span{
            color: rgb(194, 188, 188);
            font-style: italic;
        }
    }

    nav{
        ul{
            display: flex;
            justify-content: space-between;
            padding: 0.8em 1.2em;

            li{
                list-style: none;
                margin-left: 1.3em;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.1em;
                    padding: .5em .8em;
                    transition: .3s ease-in;

                    &:hover{
                        color: rgb(132, 147, 253);
                    }
                }
            }
        }
    }
}
.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/Image/Pics1.jpg);
    background-size: cover; 
    color: white;
    
    h1{
        font-family: P-bold;
        font-size: 5em;
    }
    p{
        font-size: 2.5em;
    }

    p.special{
        font-size: 2em;
        font-style: italic;
    }
}